<!DOCTYPE html>
<html>

<head>
  <title>Nuevo Pedido</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <script src="/js/sidebar.js"></script>
  <script src="/js/order-form.js"></script>
  <script src="/js/flowbite.min.js"></script>
</head>

<body>
  <div class="flex h-screen bg-gray-100">
    <%- include('components/sidebar', {username:user.username}) %>

    <div class="flex-1 flex flex-col overflow-hidden">
      <!-- Top Navigation -->
      <%- include('components/top-navigation') %>

      <!-- Main Content -->
      <main class="flex-1 overflow-y-auto bg-gray-100 p-4 md:p-6">
        <form id="order-form">
          <div class="bg-white rounded-lg shadow p-6 mt-8">
            <h2 class="text-lg font-medium text-gray-900 mb-4">Información basica</h2>
            <div class="space-y-4 md:space-y-6">
              <div class="grid md:grid-cols-3 gap-4">
                <div>
                  <label for="client" class="block text-sm font-medium text-gray-700">
                    Cliente
                  </label>
                  <select id="client" name="client" class="p-2 mt-1 focus:ring-red-800 focus:border-red-800 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required="">
                    <option>Selecciona un cliente</option>
                    <% clients.forEach(function(client){ %>
                    <option value="<%= client.id %>"><%= client.name %></option>
                    <% }); %>
                  </select>
                </div>
                <div>
                  <label for="paid" class="block text-sm font-medium text-gray-700">
                    Cantidad Pagada
                  </label>
                  <input type="number" step="0.01" id="paid" name="paid" class="p-2 mt-1 focus:ring-red-800 focus:border-red-800 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow p-6 mt-8 mb-4">
            <div class="flex justify-between items-center mb-4">
              <h2 class="text-lg font-medium text-gray-900">Productos</h2>
              <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" type="button">
                Agregar Producto
              </button>
            </div>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th scope="col" class="px-6 py-3">
                      Nombre del producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Categoría
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Precio unitario
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Precio total
                    </th>
                    <th scope="col" class="px-6 py-3">
                      <span class="sr-only">Eliminar</span>
                    </th>
                  </tr>
                </thead>
                <tbody id="output-products"></tbody>
              </table>
            </div>
            <div class="flex justify-between items-center mt-4">
              <h2 class="text-lg font-medium text-gray-900">Total</h2>
              <p id="total" class="text-lg font-medium text-gray-900">$0.00</p>
            </div>
          </div>
          <button type="submit" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Crear</button>
        </form>
      </main>
    </div>

    <!-- Main modal -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Agregar nuevo producto
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Cerrar modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <form class="p-4 md:p-5" id="modal-add-product-form">
            <div class="grid gap-4 mb-4 grid-cols-2">
              <div class="col-span-2 sm:col-span-1">
                <label for="category" class="block text-sm font-medium text-gray-700">
                  Categorías
                </label>
                <select id="category" name="category" class="p-2 mt-1 focus:ring-red-800 focus:border-red-800 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required="">
                  <option value="">Selecciona una categoría</option>
                  <% categories.forEach(function(category){ %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                  <% }); %>
                </select>
              </div>

              <div class="col-span-2 sm:col-span-1">
                <label for="product" class="block text-sm font-medium text-gray-700">
                  Producto
                </label>
                <select id="product" name="product" class="p-2 mt-1 focus:ring-red-800 focus:border-red-800 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required="">
                  <option>Selecciona una producto</option>
                </select>
              </div>

              <div class="col-span-2 sm:col-span-1">
                <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
                <input type="number" name="quantity" id="quantity" step="0.01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" min="0.01" required="">
              </div>
            </div>
            <button type="submit" class="text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
              </svg>
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>